# CS224n course materials
cs224n-2024Winter/

# Common Python ignores
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store 